seqpac/fasta/biomartr_genome/Mus_musculus.GRCm38.dna.toplevel.fa
seqpac/fasta/repeatMasker/Mus_musculus_rm_refseq.out.gz
seqpac/fasta/repeatMasker/repeatMasker.gtf
seqpac/fasta/uscs_genome/index.rev.2.ebwt
seqpac/fasta/uscs_genome/index.2.ebwt
seqpac/fasta/uscs_genome/index.4.ebwt
seqpac/fasta/uscs_genome/index.rev.1.ebwt
seqpac/fasta/uscs_genome/mm10_ucsc.fa
seqpac/fasta/uscs_genome/index.1.ebwt
seqpac/fasta/alignment/anno_mis1.fa
seqpac/fasta/alignment/anno_mis0.fa
seqpac/fasta/alignment/ncRNA.out
seqpac/fasta/alignment/ucsc.out
shortRNA/03_tse/fastq/unique.fasta
shortRNA/03_tse/tse.rds
shortRNA/genome/customGenome.00.b.array
shortRNA/genome/customGenome.00.b.tab
shortRNA/genome/customGenome.fasta
sports1/8_SRR13129043/SRR13129043_result/SRR13129043_output.txt
sports1/4_SRR13129039/SRR13129039_result/SRR13129039_output.txt
sports1/6_SRR13129041/SRR13129041_result/SRR13129041_output.txt
sports1/3_SRR13129038/SRR13129038_result/SRR13129038_output.txt
sports1/1_SRR13129036/SRR13129036_result/SRR13129036_output.txt
sports1/2_SRR13129037/SRR13129037_result/SRR13129037_output.txt
sports1/5_SRR13129040/SRR13129040_result/SRR13129040_output.txt
data/oasis2/SRR13129038.fastq.gz.fasta
data/oasis2/SRR13129036.fastq.gz.fasta
data/oasis2/SRR13129040.fastq.gz.fasta
data/oasis2/SRR13129037.fastq.gz.fasta
data/fq_with_sim_noGZ/SRR13129036.fastq
data/fq_with_sim_noGZ/SRR13129043.fastq
data/fq_with_sim_noGZ/SRR13129040.fastq
data/fq_with_sim_noGZ/SRR13129041.fastq
data/fq_with_sim_noGZ/SRR13129042.fastq
data/fq_with_sim_noGZ/SRR13129037.fastq
data/fq_with_sim_noGZ/SRR13129038.fastq
data/fq_with_sim_noGZ/SRR13129039.fastq
data/fq_with_sim/SRR13129038.fastq.gz
data/fq_with_sim/SRR13129042.fastq.gz
data/fq_with_sim/SRR13129043.fastq.gz
data/fq_with_sim/SRR13129039.fastq.gz
data/fq_with_sim/SRR13129037.fastq.gz
data/fq_with_sim/SRR13129041.fastq.gz
data/fq_with_sim/SRR13129036.fastq.gz
data/fq_with_sim/SRR13129040.fastq.gz
